<header class="p-1 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center fs-5">
      <a href="#" class="d-flex align-items-start text-warning text-decoration-none">
        英语学习
      </a>
      <ul class="nav col-auto me-auto mb-md-0">
        {{#each nav}}
        {{#if this.subNav}}
        <li class="nav-item dropdown">
          <a class="nav-link px-2 text-white dropdown-toggle" href="{{this.href}}" id="{{this.id}}" data-bs-toggle="dropdown" aria-expanded="false">{{this.text}}</a>
          <ul class="dropdown-menu" aria-labelledby="{{this.id}}">
            {{#each this.subNav}}
            <li><a class="px-2 dropdown-item" href="{{this.href}}">{{this.text}}</a></li>
            {{/each}}
          </ul>
        </li>
        {{else}} 
        <li class="nav-item">
          <a href="{{this.href}}" class="nav-link px-2 text-white {{#if (eq ../page this.href)}} active" aria-current="true {{else}} {{/if}}">{{this.text}}</a>
        </li>
        {{/if}}
        {{/each}}
      </ul>
      <div class="dropdown text-end">
        <a class="nav-link px-2 text-white dropdown-toggle" href="#" id="my" data-bs-toggle="dropdown" aria-expanded="false">我的</a>
        <ul class="dropdown-menu fs-5" aria-labelledby="my">
          <li><a class="px-2 dropdown-item" href="#">登录</a></li>
          <a href="#" class="px-2 dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#setting-offcanvas" aria-controls="setting-offcanvas">设置</a>
        </ul>
      </div>
    </div>
  </div>
</header>
